.section-title {
  text-align: center;
  margin: 30px auto;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team-member-image {
  width: 310px;
  height: 469px;
  object-fit: cover;
  margin-bottom: 10px;
}
