.navbar {
    background-color: #f1f1f1;
    padding: 1rem;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-item {
    margin-right: 1rem;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
  }
  
  .navbar-link:hover {
    background-color: #ddd;
  }
  
  /* Responsive CSS */
  @media screen and (max-width: 600px) {
    .navbar-list {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-item {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
  